body {
  margin: 0;
  background: #96e0cb;
  color: #ffffff;
  font-family: 'Outfit', sans-serif;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

main {
  padding: 1rem;
}

h1 {
  font-size: 3em;
  font-weight: 300;
  margin: 0;
  text-transform: lowercase;
}

p {
  font-size: 1.2em;
  font-weight: 200;
  margin-top: 0.5em;
  letter-spacing: 1.5px;
  text-transform: lowercase;
}
